html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='static/timer.js')
    link(rel='stylesheet' href='static/style.css' id='main-styles-link')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
  body
    if request == null
      h1 This application is currently in testing and development, so don't get too attached to it.
      p
          a(href = 'https://www.cognitoforms.com/Emagrq/BuildAGame') Build a Game Here
      p
      p if you want to create your own hunt.
      p Or check out one of the hunts that have been created for inspiration:

      for x in json_data
        li
          a(href=print_url+x.game_name) #{x.game_name}
      p Potential problems you may encounter:
        li Game edits are impossible.
        li Deleting a game is impossible.
        li All games are public.
        li The Museum Label does not work.
        li Disclaimer: I am likely to accidenly delete your game.
        li Contact: emagrq@gmail.com.

    else if request == 'print'
      div.no-print
        p CAUTION: this print page is set to print each code on a separate page for ease of use with index cards.
        p Consider printing multiple pages per sheet if you are printing on regular office paper.
      ul(style='list-style-type:none; padding: 0')

          each x, index_x in json_data
              li
                div.pagebreak.c
                  p #{index_x + 1}:#{x.location}
                  img(src=qr_code + 'game_call:' + gameID + '_' + x, style='width:336px;height:336px;')

    else
        script.
            window.onload = function() {
                var display = document.querySelector('#time')
                timer = new CountDownTimer(#{json_data.time_allocated});
                timer.onTick(format(display)).start();

                function format(display) {
                    return function (minutes, seconds) {
                        minutes = minutes < 10 ? '0' + minutes : minutes;
                        seconds = seconds < 10 ? '0' + seconds : seconds;
                        display.textContent = minutes + ':' + seconds;
                    };
                };
                BigHintTimer = setTimeout(function (){
                    document.getElementById('giveaway').style.display = 'block';
                }, #{json_data.time_allocated*1000});
            };

        each x, index_x in json_data
            if request == index_x

              if previous_view == null
                h3 You have found clue: #{(parseFloat(index_x) + 1)}!
                  p(style='font-size: 35%; margin: 0') Current location: #{x.location}
              else
                h3 You have already found this clue.
                  p(style='font-size: 35%; margin: 0') Current location: #{x.location}
              hr.striped-border
              h4 NEXT CLUE:
              each y, index_y in json_data
                if (parseFloat(request) + 1) == index_y
                  for clue in y.clue
                    ul(style='list-style-type:none; padding-left: 10px;')
                      li
                        p #{clue}

                  p#giveaway(style={display: 'none'}) You have run out of time. The code you seek can be found here: #{y.location}
                  .clue_image
                    img(src=y.photo_link, id='photo_link')

              if json_data.time_allocated <= 0
                p
              else if json_data.time_allocated == null
                p
              else
                p Get a hint in #[span(id="time")]
