html
  head
    script(src='static/timer.js')

    if request != null
      script.
          window.onload = function() {

            var display = document.querySelector('#time')

              timer = new CountDownTimer(#{pg_json_record.time_allocated});

              timer.onTick(format(display)).start();

              function format(display) {
                  return function (minutes, seconds) {
                      minutes = minutes < 10 ? "0" + minutes : minutes;
                      seconds = seconds < 10 ? "0" + seconds : seconds;
                      display.textContent = minutes + ':' + seconds;
                  };
            };

            BigHintTimer = setTimeout(function (){
                  document.getElementById('giveaway').style.display = 'block';
            }, #{pg_json_record.time_allocated*1000});

          };
  body
    if request == null
      h1 #{root_route[0]}
      h2 #{root_route[1]}
      a(href=root_route[2],) #{root_route[2]}
    else if request == 'print'
      ul(style="list-style-type:none")
          for x in json_data
              li
                img(src=qr_code + x.key, style="width:336px;height:336px;")
    else

      for x in json_data
        if request == x.key

          if previous_view == null
            h1 You have found clue: #{(parseFloat(x.key) + 1)}!
            h4 Current location: #{x.location}
          else
            h1 You have already found this clue.
            h4 Current location: #{x.location}
          .clue_image
            img(src=x.photo_link)

          h1 NEXT CLUE:
          for y in json_data
            if (parseFloat(request) + 1) == y.key
              for clue in y.clue
                ul(style="list-style-type:none")
                  li
                    h1 #{clue}

              p#giveaway(style={display: 'none'}) You have run out of time. The code you seek can be found here: #{y.location}


          if pg_json_record.time_allocated <= 0
            p
          else if pg_json_record.time_allocated == null
            p
          else
            p Get a hint in #[span(id='time')]
