html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='static/timer.js')
    link(rel='stylesheet' href='static/style.css' id='main-styles-link')
    if request != null
      script.
          window.onload = function() {

            var display = document.querySelector('#time')

              timer = new CountDownTimer(#{pg_json_record.time_allocated});

              timer.onTick(format(display)).start();

              function format(display) {
                  return function (minutes, seconds) {
                      minutes = minutes < 10 ? "0" + minutes : minutes;
                      seconds = seconds < 10 ? "0" + seconds : seconds;
                      display.textContent = minutes + ':' + seconds;
                  };
            };

            BigHintTimer = setTimeout(function (){
                  document.getElementById('giveaway').style.display = 'block';
            }, #{pg_json_record.time_allocated*1000});

          };
  body
    if request == null
      h1 #{root_route[0]}
      h2 #{root_route[1]}
      a(href=root_route[2],) #{root_route[2]}
    else if request == 'print'
      div.no-print
        p CAUTION: this print page is set to print each code on a separate page for ease of use with index cards.
        p Consider printing multiple pages per sheet if you are printing on regular office paper.
      ul(style="list-style-type:none; padding: 0")
          for x in json_data
              li
                div.pagebreak.c
                  p #{x.key + 1}:#{x.location}
                  img(src=qr_code + x.key, style="width:336px;height:336px;")
    else

      for x in json_data
        if request == x.key

          if previous_view == null
            h3 You have found clue: #{(parseFloat(x.key) + 1)}!
              p(style='font-size: 35%; margin: 0') Current location: #{x.location}
          else
            h3 You have already found this clue.
              p(style='font-size: 35%; margin: 0') Current location: #{x.location}
          hr.striped-border
          h4 NEXT CLUE:
          for y in json_data
            if (parseFloat(request) + 1) == y.key
              for clue in y.clue
                ul(style="list-style-type:none; padding: 10px")
                  li
                    p #{clue}

              p#giveaway(style={display: 'none'}) You have run out of time. The code you seek can be found here: #{y.location}
              .clue_image
                img(src=y.photo_link, id='photo_link')

          if pg_json_record.time_allocated <= 0
            p
          else if pg_json_record.time_allocated == null
            p
          else
            p Get a hint in #[span(id='time')]
